//- layout.pug
doctype html
html
  head
    title Hotel Management System
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  body
    //- Navigation Bar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/')
        img(src='/images/logo.jpeg', alt='Logo', class='logo')
        | Hotel Booking
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about/') About
          li.nav-item
            a.nav-link(href='/auth/login') Login
          li.nav-item
            a.nav-link(href='/auth/signup') Sign Up

    //- Block for content unique to each page
    block content

    //- Footer Section
    footer.bg-dark.text-light.mt-5.py-3
      .container
        .row
          .col-md-6
            p &copy; 2024 Hotel Booking System. All Rights Reserved.
          .col-md-6.text-right
            a(href='#', class='text-light') Facebook
            |  · 
            a(href='#', class='text-light') Twitter
            |  · 
            a(href='#', class='text-light') Instagram
